* {
  box-sizing: border-box;
}

img.btn {
  opacity: 0.6;
  border-bottom: 4px solid white;
  cursor: pointer;
}
img.btn:hover {
  opacity: 1;
  border-bottom: 4px solid #DDDDFF;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: lavenderblush;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: lightcoral;
  color: white;
  font-size: 17px;
  border: 1px solid firebrick;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: firebrick;
  color: antiquewhite;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
.press_button {
  background: antiquewhite;
  color: firebrick;
  font-size: 13px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  cursor: pointer;
}
.press_button :hover {
  background: firebrick;
  color: antiquewhite;
  font-size: 15px;
  border: 0px solid lightgrey;
  border-radius: 2px;
}
.questions_table {
  background-color: beige;
}

.table_headers {
  background-color: blanchedalmond;
}
table.questions_table  {
  border-collapse: collapse;
}
table.questions_table  td, table.questions_table  th {
  border: 1px solid lightcoral;
}
.marquee {
  font-size: 15px;
  font-weight: bold;
  color: black;
  border:3px solid lightcoral;
  background-color: antiquewhite;
  direction: ltr;
}
mark {
  background-color: yellow;
  color: black;
}
.login-bnt {
  margin: auto;
  color: darkblue;
  font-weight: bold;
  font-size: 15px;
  background-color: lightblue;
  border: 1px solid darkslateblue;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 10%
}
.registration-bnt {
  margin: auto;
  color: darkred;
  font-weight: bold;
  font-size: 15px;
  background-color: lightsalmon;
  border: 1px solid darkgoldenrod;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 5%
}
.logout-btn {
  margin: auto;
  color: lightgreen;
  font-weight: bold;
  font-size: 15px;
  background-color: darkgreen;
  border: 1px solid forestgreen;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 5%
}
.user-text{
  margin: auto;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 2%;
  right: 5%
}
.userList {
  font-size: 15px;
  font-family: "Arial Hebrew Scholar";
  position: absolute;
  top: 3%;
  right: 20%
}
.tagList {
  font-size: 15px;
  font-family: "Arial Hebrew Scholar";
  position: absolute;
  top: 3%;
  right: 40%
}
.font-up-bnt {
  margin: auto;
  color: greenyellow;
  font-weight: bold;
  font-size: 15px;
  background-color: green;
  border: 1px solid darkgreen;
  border-radius: 2px;
  position: absolute;
  top: 2%;
  right: 270px
}
.font-down-bnt {
  margin: auto;
  color: darkred;
  font-weight: bold;
  font-size: 15px;
  background-color: red;
  border: 1px solid darkred;
  border-radius: 2px;
  position: absolute;
  top: 2%;
  right: 300px
}