<!DOCTYPE html>
<html lang="en" class="add-page">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="main2">
<div class="menu">
    <ul class="menu-bar">
        <li class="menu-item-logo" style="pointer-events: none !important;"><a href="/">Ask Mate | Home</a></li>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/list">Questions</a></li>
        <li class="menu-item"><a href="/tags">Tags</a></li>
        <li class="menu-item"><a href="/users">Users List</a></li>
        {% if not current_user.is_authenticated %}
            <li class="menu-item"><a href="/add_question">Add question</a></li>
            <li class="menu-item" style="float: right; background-color:#EAB722"><a href="/login">LogIN</a></li>
            <li class="menu-item-button" style="float: right; background-color:#F7DD72"><a
                    href="/registration">SignUP</a>
            </li>
        {% else %}
            <li class="menu-item" style="float: right; background-color:#D36D00;"><a href="/logout">LogOUT</a></li>
            <li class="menu-item" style="float: right;"><a href="/user/{{ current_user.db_id }}">See statistics:
                {{ (current_user.email).split('@')[0] }}</a></li>
        {% endif %}
    </ul>
</div>
<h3 class="title" style="color:antiquewhite;">Add tag to question:</h3>
<fieldset class="input-question"><strong>{{ question['message'] }}</strong></fieldset>
<form method="POST">
    <br>
    <h3 class="title" style="color:antiquewhite;">You can create new tag:</h3>
    <textarea class="input-tag" maxlength="10" name='thisistag' placeholder="Add your tag..."></textarea><br>
    <h3 class="title" style="color:antiquewhite;">Or select one of this:</h3>
    <select class="select-tag" name="all_tags" id="tags">
        {% for tag in tags %}
            <option id="tags">{{ tag['name'] }}</option>
        {% endfor %}
    </select>
    <br><input class="primary-button" type="submit" value="Add tag">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</form>
</body>
</html>