<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="../static/js/fontSize.js"></script>
</head>
<body>
      <table>
          <tr><th><a href="/"><h1>Ask Mate</h1></a></th>
              <th><h2> - crowdsourced Q&A site</h2></th>
              <a href="/users" class="userList"><h3>USERS LIST</h3></a>
              <a href="/tags" class="tagList"><h3>TAGS</h3></a>
              {% if not current_user.is_authenticated %}
                  <th><a href="/login"><button type="submit" class="login-bnt">LogIN</button></a></th>
                  <th><a href="/registration"><button type="submit" class="registration-bnt">SignUP</button></a></th>
              {% else %}
                  <th class="user-text">Currently logged as: <a href="/user/{{ current_user.db_id }}">{{ (current_user.email).split('@')[0] }}</a></th>
                  <th><a href="/logout"><button type="submit" class="logout-btn">LogOUT</button></a></th>
              {% endif %}
                <button onclick="enlargeFont('questions_table')" class="font-up-bnt">+</button>
                <button onclick="ensmallenFont('questions_table')" class="font-down-bnt">-</button>
          </tr>
      </table>
       <marquee class="marquee">
       This is a list of all tags and how many times they were used.
       </marquee>


</body>