<!DOCTYPE html>
<html lang="en" class="display_question">
<head>
    <meta charset="utf-8">
    <title>AskMate | Question</title>
    <style>
        .image {
            width: 100%;
            max-width: 600px;
        }
    </style>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/display_question.css">
</head>

<body>
<div class="menu">
    <ul class="menu-bar">
        <li class="menu-item-logo" style="pointer-events: none !important;"><a href="/">Ask Mate | Home</a></li>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/list">Questions</a></li>
        <li class="menu-item"><a href="/tags">Tags</a></li>
        <li class="menu-item"><a href="/users">Users List</a></li>
        {% if not current_user.is_authenticated %}
            <li class="menu-item"><a href="/add_question">Add question</a></li>
            <li class="menu-item" style="float: right; background-color:#EAB722"><a href="/login">LogIN</a></li>
            <li class="menu-item-button" style="float: right; background-color:#F7DD72"><a
                    href="/registration">SignUP</a>
            </li>
        {% else %}
            <li class="menu-item" style="float: right; background-color:#D36D00;"><a href="/logout">LogOUT</a></li>
            <li class="menu-item" style="float: right;"><a href="/user/{{ current_user.db_id }}">See statistics:
                {{ (current_user.email).split('@')[0] }}</a></li>
        {% endif %}
    </ul>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<div>
    <div id="question">
        <fieldset class="fit_content">
            <legend>
                Q #{{ question['id'] }} |
                {{ question['view_number'] }} views |
                {{ question['submission_time'] }} |
                Tags:
                {% for tag in list_of_tags %}
                    #{{ tag[0][0]['name'] }}
                    <sup><a href="/question/{{ question['id'] }}/tag/{{ tag[1] }}/delete_tag">x</a></sup>
                {% endfor %}
                <a href="/question/{{ question['id'] }}/new_tag">+</a>
            </legend>
            <div class="flex fit_content">
                <div class="votes">
                    <form method="POST">
                        <button class='site_button' href="/question/{{ question['id'] }}" type="submit"
                                value="{{ question['id'] }}" name="vote_question">
                            <img class="btn" src="../static/icons/arrow_up_big.png">
                        </button>
                        <input type="hidden" id="up" name="vote" value="1">
                    </form>
                    <div class="vote_num">
                        <p class="vertical-center txt">{{ question['vote_number'] }}</p>
                    </div>
                    <form method="POST">
                        <button class='site_button' href="/question/{{ question['id'] }}" type="submit"
                                value="{{ question['id'] }}"
                                name="vote_question">
                            <img class="btn" src="../static/icons/arrow_down_big.png">
                        </button>
                        <input type="hidden" id="down" name="vote" value="-1">
                    </form>
                    {% if current_user.is_authenticated %}
                        <a href="/question/{{ question['id'] }}/new_comment">
                            <button class="site_button">
                                <img class="btn" src="../static/icons/text_symbol.png">
                            </button>
                        </a><br>
                        <a href="/question/{{ question['id'] }}/delete">
                            <button class="site_button">
                                <img class="btn" src="../static/icons/delete.png">
                            </button>
                        </a><br>
                        <a href="/question/{{ question['id'] }}/edit_page">
                            <button class="site_button">
                                <img class="btn" src="../static/icons/edit.png">
                            </button>
                        </a><br>
                        <a href="/question/{{ question['id'] }}/new-answer">
                            <button class="site_button" style="background-color: blue">
                                <img class="btn" src="../static/icons/accept_big.png">
                            </button>
                        </a>
                    {% endif %}
                </div>
                <div class="no_flex">
                    <div class="message no_flex">
                        <p id="title">{{ question['title'] }}</p>
                        <fieldset id="q_message">{{ question['message'] }}</fieldset>
                        {% if image != '' %}
                            <p>
                                <img src="../static/images/{{ image }}" alt='{{ image }}' class='image' sizes="100">
                            </p>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="text-right">
                        {% if number_of_comments_to_question > 0 %}
                            <h5>Comments to question:</h5>
                            {% for comment in comments_to_question %}
                                <fieldset class="no_flex right text-left">
                                    <legend align="right"> {{ comment['submission_time'] }}
                                        {% if current_user.is_authenticated %}
                                            |
                                            <a href="/comment/{{ comment['id'] }}/editt" name="1"><img class="btn-small"
                                                                                                       src="../static/icons/edit.png"></a>
                                            |<a href="/comment/{{ comment['id'] }}/delete"><img class="btn-small"
                                                                                                src="../static/icons/delete.png"></a>
                                        {% endif %}
                                    </legend>
                                    {{ comment['message'] }}

                                </fieldset>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------->
    <div>
        <form method="GET">
            <table>
                <tr>
                    <td>Sort by</td>
                    <td>
                        <select name="by_category" id="category">
                            <option id="vote_number">Number of Votes</option>
                            <option id="chronology">Chronology</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select name="by_order" id="order">
                            <option id="asc">Ascending</option>
                            <option id="dsc">Descending</option>
                        </select>
                    </td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
        <p></p>
        <!--------------------------------------------------------------------------------------------------------------------->
        {% for answer in answers_base %}
            <fieldset
                    {% if answer['id'] == question['accepted_answer'] %}
                        style="background-color: beige"
                    {% endif %}
            >
                <legend>
                    {{ answer['submission_time'] }}
                    {% if accept_answer == True %}
                        {% if answer['id'] != question['accepted_answer'] %}
                            |
                            <button class="site_button" type="submit" value="{{ answer['id'] }}"
                                    name="accept_answer">
                                <img class="btn-small" src="../static/icons/accept_big.png">
                            </button>
                        {% endif %}
                        {% if answer['id'] == question['accepted_answer'] %}
                            |
                            <button class='site_button' type="submit" value="{{ answer['id'] }}"
                                    name="not_accept_answer">
                                <img class="btn-small" src="../static/icons/no_big.png">
                            </button>
                        {% endif %}
                    {% endif %}
                </legend>
                <div class="flex">
                    <div class="votes">
                        <form method="POST">
                            <button class='site_button' href="/question/{{ question['id'] }}" type="submit"
                                    value="{{ answer['id'] }}" name="vote_answer">
                                <img class="btn" src="../static/icons/arrow_up_big.png">
                            </button>
                            <input type="hidden" id="up" name="vote" value="1">
                        </form>
                        <div class="vote_num">
                            <p class="vertical-center txt">{{ answer['vote_number'] }}</p>
                        </div>
                        <form method="POST">
                            <button class='site_button' href="/question/{{ question['id'] }}" type="submit"
                                    value="{{ question['id'] }}"
                                    name="vote_answer">
                                <img class="btn" src="../static/icons/arrow_down_big.png">
                            </button>
                            <input type="hidden" id="down" name="vote" value="-1">
                        </form>
                        {% if current_user.is_authenticated %}
                            <a href="/answer/{{ answer['id'] }}/new-comment">
                                <button class="site_button">
                                    <img class="btn" src="../static/icons/text_symbol.png">
                                </button>
                            </a><br>
                            <a href="/question/{{ question['id'] }}/{{ answer['id'] }}/delete">
                                <button class="site_button">
                                    <img class="btn" src="../static/icons/delete.png">
                                </button>
                            </a><br>
                            <a href="/answer/{{ answer['id'] }}/edit">
                                <button class="site_button">
                                    <img class="btn" src="../static/icons/edit.png">
                                </button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="no_flex">
                        <h2 class="no_margins">Answer #{{ answers_base.index(answer) + 1 }}</h2>
                        <fieldset class="no_flex">{{ answer['message'] }}</fieldset>
                        {% if image != '' %}
                            <img src="../static/images/{{ answer['image'] }}" alt='{{ image }}' class='image'
                                 sizes="100">
                            </p>
                            <br>
                        {% endif %}
                        <hr>
                        {% for comment in comments_to_answer[0] %}
                            {% if comment['answer_id'] == answer['id'] %}
                                <fieldset class="no_flex right">
                                    <legend align="right">
                                        {{ comment['submission_time'] }}
                                        {% if comment['edited_count'] != None %}
                                            , Edited {{ comment['edited_count'] }} time(s)
                                        {% endif %}
                                        {% if current_user.is_authenticated %}
                                            | <a href="/comment/{{ comment['id'] }}/edit"><img class="btn-small"
                                                                                               src="../static/icons/edit.png"></a>
                                            |
                                            <a href="/comment/{{ comment['id'] }}/delete"><img class="btn-small"
                                                                                               src="../static/icons/delete.png"></a>
                                        {% endif %}
                                    </legend>
                                    {{ comment['message'] }}
                                </fieldset>

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        {% endfor %}
    </div>
</div>
</body>
</html>
