<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AskMate | Question</title>
        <style>
            .image{
                width:100%;
                max-width:600px;
            }
        </style>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
      <table>
        <tr>
            <th>
                <a href="/"><h1>Ask Mate</h1></a>
            </th>
            <th>
                <h2> - crowdsourced Q&A site</h2>
            </th>
        </tr>
    </table>
        <h1>{{ question['title'] }}</h1>
        <table>    
            <tr>
                <td>
                    <p>{{ question['submission_time'] }}</p>
                    Question: #{{ question['id'] }} &nbsp;
                    Number of view: {{ question['view_number'] }} &nbsp;
                    Number of vote: {{ question['vote_number'] }}
                </td>
            </tr>
            <tr>
                <td><fieldset><strong>{{ question['message'] }}</strong></fieldset></td>
                <p>
                    {% if image != None %}
                        <img src="../static/images/{{ image }}" alt='{{ image }}' class='image' sizes="100"></p><br>
                    {% endif %}
            </tr>
        </table>
        <table>
            <tr>
                <td>Evaluate this question:</td>
                <td><form method="POST">
                    <button href="/question/{{ question['id'] }}" type="submit" value="{{ question['id'] }}" name="vote_question">Vote Up!</button>
                    <input type="hidden" id="up" name="vote" value="1">
                </form></td>
                <td><form method="POST">
                    <button href="/question/{{ question['id'] }}" type="submit"  value="{{ question['id'] }}" name="vote_question">Vote Down!</button>
                    <input type="hidden" id="down" name="vote" value="-1">
                </form></td>
            </tr>

            <tr><a href="/question/{{ question['id'] }}/edit_page"> <input type="button" value="Edit Question"> </a></tr>
        </table>
        <form action="/question/{{ question['id'] }}/new_comment" method="POST">
                 <p>
                     Press the button to add a comment:
                     <a href="/question/{{ question['id'] }}/new_comment">
                         <input type="button" value="Add comment">
                     </a>
                 </p>
            </form>
            <form action="/question/{{ question['id'] }}/new_tag" method="POST">
                 <p>
                     To add tag press this button:
                     <a href="/question/{{ question['id'] }}/new_tag">
                         <input type="button" value="Add tag">
                     </a>
                 </p>
            </form>
      {% if number_of_comments_to_question > 0 %}
        <h5>Comments to question:</h5>
        {% for comment in comments_to_question %}
            <fieldset>
            <legend> {{ comment['submission_time'] }} </legend>
            {{ comment['message'] }}
            </fieldset>
        {% endfor %}
        {% endif %}
        <div>
            <form action="/question/{{ question['id'] }}" method="POST">
                 <p>
                     If you want to add an answer, please, press the button:
                     <a href="/question/{{ question['id'] }}/new-answer">
                         <input type="button" value="Add answer">
                     </a>
                 </p>
            </form>
            <form action="/question/{{ question['id'] }}/delete" method="POST">
                To delete the question, press here!
                <input type='submit' value='Delete'>
            </form>
            <form method="GET">
                <table>
                    <tr>
                        <td>Sort by </td>
                        <td>
                            <select name="by_category" id="category">
                                <option id="vote_number">Number of Votes</option>
                                <option id="chronology">Chronology</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <select name="by_order" id="order">
                                <option id="asc">Ascending</option>
                                <option id="dsc">Descending</option>
                            </select>
                        </td>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </table>
                    </form>
                <p></p>
                
                {% for answer in answers_base %}
                <form method="POST">
                 <fieldset>
                     <legend> Answer #{{ answer['id'] }}_______{{ answer['submission_time'] }} </legend>
                     <p>{{ answer['message'] }}</p>
                     {% if image != None %}
                        <img src="../static/images/{{ answer['image'] }}" alt='{{ image }}' class='image' sizes="100"></p><br>
                     {% endif %}
                     <table>
                         <td>
                              <form method="POST">
                                <button href="/question/{{ question['id'] }}" type="submit" value="{{ answer['id'] }}" name="vote_answer">Vote Up!</button>
                                <input type="hidden" id="up" name="vote" value="1">
                              </form>
                         </td>
                        <td>
                            <p>{{ answer['vote_number'] }}</p>
                        </td>
                         <td>
                             <form method="POST">
                                 <button href="/question/{{ question['id'] }}" type="submit"  value="{{ answer['id'] }}" name="vote_answer">Vote Down!</button>
                                 <input type="hidden" id="down" name="vote" value="-1">
                             </form>
                         </td>
                     </table>
                <form action="/question/{{ question['id'] }}/{{ answer['id'] }}/delete" method="GET">
                    <button type="submit" style="margin:0px;padding:0px; background:none; border:none;outline:inherit">
                        <img class="btn" title="Delete this answer" src="../static/icons/delete.png" alt="submit" style="width:40px;height:40px;">
                    </button>
                    <a href="/answer/{{ answer['id'] }}/edit"><img title="Edit this answer" class="btn" src="../static/icons/edit.png" alt="submit" style="width:40px;height:40px;"></a>
                </form>
                 <form action="/question/{{ question['id'] }}/new_comment" method="POST">
                 <p>
                     Press the button to add a comment:
                     <a href="/answer/{{ answer['id'] }}/new-comment">
                         <input type="button" value="Add comment">
                     </a>
                 </p>
            </form>
                 {% if number_of_comments_to_answer > 0 %}
                    <h5>Comments to answer:</h5>
                    {% for comment in comments_to_answer %}
                        {% if comment[0]['answer_id'] == answer['id'] %}
                        <fieldset>
                        <legend> {{ comment[0]['submission_time'] }} </legend>
                        {{ comment[0]['message'] }}
                        </fieldset>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </fieldset>
                    </form>
                {% endfor %}
        </div>
    </body>
</html>
