<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page_style.css') }}">
    <script src="../static/js/fontSize.js"></script>
</head>
<body>
<div class="menu">
    <ul class="menu-bar">
        <li class="menu-item-logo" style="pointer-events: none !important;"><a href="/">Ask Mate | Home</a></li>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/list">Questions</a></li>
        <li class="menu-item"><a href="/tags">Tags</a></li>
        <li class="menu-item"><a href="/users">Users List</a></li>
        {% if not current_user.is_authenticated %}
            <li class="menu-item"><a href="/add_question">Add question</a></li>
            <li class="menu-item" style="float: right; background-color:#EAB722"><a href="/login">LogIN</a></li>
            <li class="menu-item-button" style="float: right; background-color:#F7DD72"><a
                    href="/registration">SignUP</a>
            </li>
        {% else %}
            <li class="menu-item" style="float: right; background-color:#D36D00;"><a href="/logout">LogOUT</a></li>
            <li class="menu-item" style="float: right;"><a href="/user/{{ current_user.db_id }}">Logged as:
                {{ (current_user.email).split('@')[0] }}</a></li>
        {% endif %}
    </ul>
</div>
&nbsp;&nbsp;
<marquee class="marquee">
    Here you can ask anything and get an answer very quickly. You can also vote for your favorite questions or answers.
    Good luck :)
</marquee>
&nbsp;&nbsp;

<div class="font-controller">
    <button onclick="ensmallenFont('questions_table')" class="font-down-bnt" style="right: 5%;"> Aa &#9660;</button>
    <button onclick="enlargeFont('questions_table')" class="font-up-bnt"> Aa &#9650;</button>
</div>

<table class="questions_table" id="questions_table">
    <thead>
    {% for i in headers %}
        <th>{{ i }}</th>
    {% endfor %}
    </thead>
    {% for question in data %}
        <tr>
            <td id="sub-time">{{ question['submission_time'] }}</td>
            <td id="view-number">{{ question['view_number'] }}</td>
            <td id="vote-number">{{ question['vote_number'] }}</td>
            <td id="title"><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
            <td id="message">{{ question['message'] }}</td>
        </tr>
    {% endfor %}
</table>
<a class="link-light" href="/list">More questions...</a>
</body>
</html>