<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
      <table>
          <tr><th><a href="/"><h1>Ask Mate</h1></a></th>
              <th><h2> - crowdsourced Q&A site</h2></th>
              <a href="/users" class="userList"><h3>USERS LIST</h3></a>
              {% if not current_user.is_authenticated %}
                  <th><a href="/login"><button type="submit" class="login-bnt">LogIN</button></a></th>
                  <th><a href="/registration"><button type="submit" class="registration-bnt">SignUP</button></a></th>
              {% else %}
                  <th class="user-text">Currently logged as: {{ (current_user.email).split('@')[0] }}</th>
                  <th><a href="/logout"><button type="submit" class="logout-btn">LogOUT</button></a></th>
              {% endif %}
          </tr>
      </table>
       <marquee class="marquee">
       Here you can ask anything and get an answer very quickly.  You can also vote for your favorite questions or answers.  Good luck :)
       </marquee>
       &nbsp;&nbsp;
      <table class="questions_table">
         <form method="POST">
         <tr class="table_headers">
             {% for i in headers %}
                 <th>{{ i }}</th>
             {% endfor %}
         </tr>
         </form>
          {% for question in data %}
          <tr>
              <td>{{ question['submission_time'] }}</td>
              <td>{{ question['view_number'] }}</td>
              <td>{{ question['vote_number'] }}</td>
              <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
              <td>{{ question['message'] }}</td>
          </tr>
          {% endfor %}
     </table>
        <table><tr><th><a href="/list"><h3>More questions...</h3></a></th></table>
 </body>
 </html>