<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate | Question List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_questions_page_style.css') }}">
    <script src="../static/js/fontSize.js"></script>
</head>
<body>
<div class="menu">
    <ul class="menu-bar">
        <li class="menu-item-logo" style="pointer-events: none !important;"><a href="/">Ask Mate | Home</a></li>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/list">Questions</a></li>
        <li class="menu-item"><a href="/tags">Tags</a></li>
        <li class="menu-item"><a href="/users">Users List</a></li>
        {% if not current_user.is_authenticated %}
            <li class="menu-item" style="float: right; background-color:#EAB722"><a href="/login">LogIN</a></li>
            <li class="menu-item-button" style="float: right; background-color:#F7DD72"><a
                    href="/registration">SignUP</a>
            </li>
        {% else %}
            <li class="menu-item"><a href="/add_question">Add question</a></li>
            <li class="menu-item" style="float: right; background-color:#D36D00;"><a href="/logout">LogOUT</a></li>
            <li class="menu-item" style="float: right;"><a href="/user/{{ current_user.db_id }}">Logged as:
                {{ (current_user.email).split('@')[0] }}</a></li>
        {% endif %}
    </ul>
</div>
<form class="search" action="/search" method="GET">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit">Search</button>
</form>
&nbsp;&nbsp;

<form method="GET">
    <select class="select" name="by_category" id="category">
        <option id="category-default">Select</option>
        <option id="title">Title</option>
        <option id="submission_time">Chronology</option>
        <option id="message">Message</option>
        <option id="view_number">Number of Views</option>
        <option id="vote_number">Number of Votes</option>
    </select>

    <select class="select" style="left:16%;" name="by_order" id="order">
        <option id="order-default">Select</option>
        <option id="asc">Ascending</option>
        <option id="dsc">Descending</option>
    </select>
    <button class="press_button" type="submit">&nbsp;&nbsp;Sort&nbsp;&nbsp;</button>
</form>

<table class="questions_table" id="questions_table">
    <thead>
    {% for i in headers %}
        <th>{{ i }}</th>
    {% endfor %}
    </thead>
    {% for question in data %}
        <tr>
            <td id="sub-time">{{ question['submission_time'] }}</td>
            <td id="view-number">{{ question['view_number'] }}</td>
            <td id="vote-number">{{ question['vote_number'] }}</td>
            <td id="title"><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
            <td id="message">{{ question['message'] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>