<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="main4">
<table>
    <tr>
        <th>
            <a href="/"><h1>Ask Mate</h1></a>
        </th>
        <th>
            <h2> - crowdsourced Q&A site</h2>
        </th>
    </tr>
</table>
<form method="POST" enctype=multipart/form-data>
    <input class="input-question" type='text' name='title' placeholder="Title" required><br>
    <textarea class="input-question" name='description' placeholder="Description" required></textarea><br>
    <input class="input-question" type='file' name='file' accept='.png,.jpeg,.jpg,.bmp,.gif'><br>
    <input class="primary-button" type='submit' value="Add">
</form>
</body>
</html>