<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Ask Mate | Users</title>
</head>
<body>
     <table>
        <tr><th><a href="/"><h1>Ask Mate</h1></a></th>
            <th><h2> - crowdsourced Q&A site</h2></th></tr>
    </table>
     <table>
     <tr style="background-color: blanchedalmond">
             {% for i in headers %}
                 <th>{{ i }}</th>
             {% endfor %}
     </tr>
        {% for user in users %}
            <tr>{% for key, value in user.items() %}
                {% if key != 'id' %}
                <td style="background-color: beige">
                    {% if key == 'login' %}
                        {% set value = value.split('@')[0] %}
                        {% if  user['id'] == current_user.db_id%}
                            <a href="/user/{{ user['id'] }}">{{ value }}</a>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                {% endif %}
                </td>
            {% endfor %}</tr>
        {% endfor %}
     </table>
</body>
</html>